<a class="list-group-item clearfix">
    <h4 class="list-group-item-heading"> {{book.name}} </h4>
    <p class="list-group-item-text"> {{book.author}} </p>
    <div class="pull-left">
        <img src="{{book.image}}" alt="" class="img-responsive" style="max-height: 200px">
    </div>
    <div class="pull-right">
        <p>Liczba stron:</p>
        <p>{{book.pages}}</p>
        <p>Cena:</p>
        <p>{{book.price}}</p>
        <button class="btn btn-primary" (click)="onAddToCart()"> Dodaj do koszyka </button>
        <br>
        <br>
        <button class="btn btn-primary" (click)="onAddToForm()" routerLink="/form"> Zamów </button>
    </div>
</a>