<a class="list-group-item clearfix book-item-inside">
    <h4 class="list-group-item-heading"> {{book.name}} </h4>
    <p class="list-group-item-text"> {{book.author}} </p>
    <div class="pull-left">
        <img src="{{book.image}}" alt="" class="img-responsive book-image">
    </div>
    <div class="pull-right">
        <p class="description">Liczba stron:</p>
        <p class="description-real">{{book.pages}}</p>
        <p class="description">Cena:</p>
        <p class="description-real">{{book.price}} zł</p>
        <button mat-raised-button (click)="onAddToCart()" class="btn-dark-green">
            <mat-icon>shopping_cart</mat-icon> Dodaj do koszyka
        </button>
        <br>
        <br>
        <button mat-raised-button  (click)="onAddToForm()" routerLink="/form" class="btn-dark-green">
            <mat-icon>point_of_sale</mat-icon> Zamów
        </button>
    </div>
</a>