<div class="container form-component">
    <div class="row">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="col-lg-6 main-desc">
               <h2>Dane kontaktowe</h2>

                    <div id="user-info" ngModelGroup="userInfo" #userInfo="ngModelGroup">

                        <div class="form__group field">
                            <input type="text" class="form__field" ngModel placeholder="Name" name="name" id="name" required />
                            <label for="name" class="form__label">Imię</label>
                        </div>

                        <div class="form__group field">
                            <input type="text" class="form__field" ngModel placeholder="Surname" name="surname" id="surname" required />
                            <label for="surname" class="form__label">Nazwisko</label>
                        </div>

                        <div class="form__group field">
                            <input type="text"
                                   class="form__field"
                                   ngModel
                                   placeholder="Phone"
                                   name="phone"
                                   id="phone"
                                   required
                                   inputmode="numeric"
                                   pattern="[0-9]*"/>
                            <label for="phone" class="form__label">Numer kontaktowy</label>
                        </div>

                        <div class="form__group field">
                            <input type="text" class="form__field" ngModel placeholder="Email" name="email" id="email" required email #email="ngModel" />
                            <label for="email" class="form__label">Email</label>
                            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
                        </div>
                    </div>
            </div>
            <div class="col-lg-6">
                <h2>Adres</h2>
                    <div id="user-adres" ngModelGroup="userAdres" #userAdres="ngModelGroup">
                        <div class="form__group field">
                            <input type="text" class="form__field" ngModel placeholder="Street" name="street" id="street" required />
                            <label for="street" class="form__label">Ulica</label>
                        </div>
                        <div class="form__group field">
                            <input type="text" class="form__field" ngModel placeholder="BuildNumber" name="buildNumber" id="buildNumber" required />
                            <label for="buildNumber" class="form__label">Numer budynku</label>
                        </div>
                        <div class="form__group field">
                            <input type="text" class="form__field" ngModel placeholder="City" name="city" id="city" required />
                            <label for="city" class="form__label">Miasto</label>
                        </div>
                        <div class="form__group field">
                            <input type="text" class="form__field" ngModel placeholder="ZipCode" name="zipCode" id="zipCode" required />
                            <label for="zipCode" class="form__label">Kod pocztowy</label>
                        </div>
                    </div>
                <p class="invalid-data" *ngIf="!userInfo.valid && userInfo.touched || !userAdres.valid && userAdres.touched">Dane są niepoprawne!</p>
            </div>
            <br>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="basic-describe">Produkt</th>
                    <th scope="col" class="basic-describe">Ilość</th>
                    <th scope="col" class="basic-describe">Cena</th>
                </tr>
                </thead>

                <tbody>
                <tr [@deleteBook] *ngFor="let book of books; let i = index">
                    <th scope="row">
                        <div class="pull-left">
                            <img src="{{book.image}}" alt="" class="img-responsive img-icon">
                        </div>
                        <p class="name-book">{{book.name}}</p>
                        <p class="author-book">{{book.author}}</p>
                    </th>

                    <td class="choose-quantity">
                        <p class="quantity-book">{{book.quantity}}</p>
                    </td>

                    <td class="price-decs">
                        <div class="pull-right">
                            <button mat-mini-fab class="btn-little" (click)="onDelete(i)"><p>x</p></button>
                        </div>
                        <div class="pull-left">
                            <p class="price-book">{{book.price}}</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="pull-right summary-styling">
                    <ul>
                        <li><p>Suma:</p></li>
                        <li><p>{{sum}} zł</p></li>
                    </ul>
                </div>
            </div>
            <div class="pull-right">
                <button mat-raised-button
                        class="btn-main-cart"
                        type="submit"
                        [disabled]="!f.valid"
                        (click)="onSubmit()"
                        routerLink="/order"> Podsumowanie </button>
            </div>
        </form>
    </div>
</div>