<div class="container">
    <div class="row">
        <div class="col-lg-6">
           <h2>Dane kontaktowe</h2>
            <form>
                <div id="user-info">
                    <div class="form-group">
                        <label for="name">Imię</label>
                        <input type="text" id="name" class="form-control">
                        <label for="surname">Nazwisko</label>
                        <input type="text" id="surname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="phone">Numer kontaktowy</label>
                        <input type="text" id="phone" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" class="form-control">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <h2>Adres</h2>
            <form>
                <div id="user-adres">
                    <div class="form-group">
                        <label for="street">Ulica</label>
                        <input type="text" id="street" class="form-control">
                        <label for="build-number">Numer budynku</label>
                        <input type="text" id="build-number" class="form-control">
                        <label for="city">Miasto</label>
                        <input type="text" id="city" class="form-control">
                        <label for="zip-code">Kod pocztowy</label>
                        <input type="text" id="zip-code" class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>