<app-header></app-header>

<section>
  <div>
    <app-booklist></app-booklist>
  </div>
  <div>
    <app-cart></app-cart>
  </div>
  <div>
    <app-form></app-form>
  </div>
</section>


<!--<section>-->
  <!--<div class="example-button-row">-->
    <!--<button mat-raised-button color="primary">Primary</button>-->
  <!--</div>-->
<!--</section>-->


<!--<mat-grid-list cols="3" rowHeight="1:1">-->
  <!--<mat-grid-tile>1</mat-grid-tile>-->
  <!--<mat-grid-tile>2</mat-grid-tile>-->
  <!--<mat-grid-tile>3</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
<!--</mat-grid-list>-->

<!--<h2>Henlo</h2>-->
